<div class="scroll-up-btn">
    <img style="padding: 5px;" class="iconsvg" src='../../assets/icons/upangle.svg' >
    <!-- <i class="fas fa-angle-up"></i> -->
</div>
<nav class="navbar">
    <div class="max-width">
        <div class="logo"><a href="#">Wel<span>come</span></a></div>
        <ul class="menu">
            <li><a href="#home" class="menu-btn">Home</a></li>
            <li><a href="#about" class="menu-btn">About</a></li>
            <li><a href="#services" class="menu-btn">Skills</a></li>
            <li><a href="#skills" class="menu-btn">Talents</a></li>
            <!-- <li><a href="#teams" class="menu-btn">Team</a></li> -->
            <li><a href="#contact" class="menu-btn">Contact</a></li>
        </ul>
        <div class="menu-btn">
           <img class="iconsvg" [src]='iconname' (click)="changeicon(checkicon)">
        </div>
    </div>
</nav>

<!-- home section start -->
<section class="home" id="home">
    <div class="max-width">
        <div class="home-content">
            <div class="text-1">Hello, I am</div>
            <div class="text-2">Jason V S</div>
            <div class="text-3">And I am a <span class="typing"></span></div>
            <a href="#about">About Me</a>
        </div>
    </div>
</section>

<!-- about section start -->
<section class="about" id="about">
    <div class="max-width">
        <h2 class="title">About Me</h2>
        <div class="about-content">
            <div class="column left">
              <a href="https://www.linkedin.com/in/jason-vs-222b1b227/"><img src="../../assets/profile.jpeg" alt=""></a>
            </div>
            <div class="column right">
                <div class="text">I'm Jason V S and I am a <span class="typing-2"></span></div>
                <p>Enthusiastic web developer with one year of experience, dedicated to creating innovative and user-friendly websites. Seeking opportunities to contribute technical skills and passion for web development to dynamic projects.</p>
              <br>
<p style="font-style: italic;">
Fun Fact: Achieved second prize in the Rotary Club Chess Tournament, demonstrating skill and sportsmanship in competitive chess play.
</p>

                <a href="#services">My Skills</a>
            </div>
        </div>
    </div>
</section>

<!-- services section start -->
<section class="services" id="services">
    <div class="max-width">
        <h2 class="title">My Skills</h2>
        <div class="serv-content">
            <div class="card">
                <div class="box">
                    <img  class="iconsvg" src='../../assets/icons/paint.svg' >
                    <div class="text">Web Design</div>
                    <p>HTML, CSS, SCSS, and JavaScript</p>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <img  class="iconsvg" src='../../assets/icons/dev.svg' >
                    <div class="text">Software Developing</div>
                    <p>Python ,Angular</p>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <img  class="iconsvg" src='../../assets/icons/code.svg' >
                    <div class="text">Sql Developing</div>
                    <p>MySql </p>
                </div>
            </div>
           </div>
        </div>
</section>

<!-- skills section start -->
<section class="skills" id="skills">
    <div class="max-width">
        <h2 class="title">My skills</h2>
        <div class="skills-content">
            <div class="column left">
                <div class="text">My creative skills & experiences.</div>
                <p>Here My Resume ...</p>
                <a href="../../assets/Jason Resume.pdf" download="jasonVS_Resume">View Resume</a>
            </div>
            <div class="column right">
                <div class="bars">
                    <div class="info">
                        <span>HTML & CSS</span>
                        <span>90%</span>
                    </div>
                    <div class="line html"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>Mysql</span>
                        <span>60%</span>
                    </div>
                    <div class="line css"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>JavaScript</span>
                        <span>30%</span>
                    </div>
                    <div class="line js"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>Angular</span>
                        <span>40%</span>
                    </div>
                    <div class="line php"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>Python</span>
                        <span>60%</span>
                    </div>
                    <div class="line mysql"></div>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- contact section start -->
<section class="contact" id="contact">
    <div class="max-width">
        <h2 class="title">Contact Me</h2>
        <div class="contact-content">
            <div class="column left">
                <div class="text">Get in Touch</div>
                <p>Get in touch with me!</p>
                <div class="icons">
                    <div class="row">
                        <img  class="iconsvg" src='../../assets/icons/profile.svg' >
                        <div class="info">
                            <div class="head">Name</div>
                            <div class="sub-title">Jason V S</div>
                        </div>
                    </div>
                    <div class="row">
                        <img  class="iconsvg" src='../../assets/icons/location.svg' >
                        <div class="info">
                            <div class="head">Located</div>
                            <div class="sub-title">India</div>
                        </div>
                    </div>
                    <div class="row">
                        <img  class="iconsvg" src='../../assets/icons/mail.svg' >
                        <div class="info">
                            <div class="head">Email</div>
                            <div class="sub-title"><a href = "mailto:">vsjason11@gmail.com</a></div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
</div>
</section>



<!-- footer section start -->
<footer>
    <div class="socialMedia">
        <a href="https://www.facebook.com/profile.php?id=100008182089917&mibextid=ZbWKwL" target="_blank" class="facebook">  <img  class="iconsvg" src='../../assets/socialmedia/facebook.svg' ></a>
        <a href="https://www.linkedin.com/in/jason-vs-222b1b227/" target="_blank" class="linkedin"> <img  class="iconsvg" src='../../assets/socialmedia/linkedin.svg' ></a>
        <a href="mailto:vsjason11@gmail.com" target="_blank" class="email"><img  class="iconsvg" src='../../assets/socialmedia/mail.svg' ></a>
        <a href="https://github.com/JasonVS11" target="_blank" class="github"><img  class="iconsvg" src='../../assets/socialmedia/git.svg' ></a>
        </div>
        <br>
    <span>Created By <a href = "https://www.linkedin.com/in/jason-vs-222b1b227/">Jason V S</a> |  2024 Jason V S All rights reserved &nbsp; 
    </span>
</footer>

<!-- <script src="script.js"></script> -->